body
{
    height: 100%;
}

video
{
    position:fixed;
    top:50%;
    left:50%;
    margin-top:-50%;
    margin-left: -50%;
    z-index: 1;
}

a
{
    font-family: 'Lobster', cursive;
    display:inline-block;
    color: black;
    padding: 12px 48px;
    border: solid 4px;
    text-decoration: none;
    font-size: 24px;
}

div
{
    position: relative;
    z-index: 2;
    margin: 0 auto;
    max-width: 720px;
    margin-top:100px;
    text-align:center;
}

h1
{
    font-family: 'Staatliches', cursive;
    margin-bottom:25px;
    color : whitesmoke;
    font-size: 44px;
    background-color: grey;
    opacity: 0.9;
}

p
{
    font-family: 'Josefin Sans', sans-serif;
    color:wheat;
    background-color: grey;
    opacity: 0.7;
}

